.invoices {
  background-color: #f7f8f9;
  & .title {
    margin: 15px 0;
    & h1 {
      font-size: 24px;
      font-weight: bold;
    }
    &::after {
      content: " ";
      display: block;
      margin-top: 25px;
      border-bottom: 1px solid #777777;
      opacity: 0.1;
    }
  }
  & .content {
    text-align: center;
    background-color: white;
    & .header {
      border-bottom: 2px solid #f7f8f9;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 600;
    }
    & .invoice {
      & .outer {
        position: relative;
        width: 100%;
        height: 40px;
        text-align: center;
      }
      & .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      & .total {
        font-weight: 600;
      }
      & .span-status {
        padding: 5px;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        background-color: #7ed321;
      }
      & .details-btn {
        padding: 5px;
        background-color: #f15e75;
        color: white;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

.reservation_details {
  margin-top: 20px;
  background-color: white;
  & .header {
    margin: 25px 14px;
    & h1 {
      font-size: 24px;
      font-weight: bold;
      display: inline-block;
    }
    & span {
      padding: 5px;
      border-radius: 5px;
      color: white;
      font-weight: 600;
      margin-left: 10px;
    }
    & .span-confirmed {
      background-color: #7ed321;
    }
    & .span-cancelled {
      background-color: red;
    }
    & .span-pending {
      background-color: #0176ff;
    }
    & .span-paid {
      background-color: #f15e75;
      padding: 5px 20px;
    }
  }
  & .content {
    text-align: center;
    padding: 20px 0;
    line-height: 45px;
    font-size: 16px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .section-to-print,
  .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
