.full-input {
  display: inline-block;
  position: relative;
  width: 183px;
  height: 56px;
  color: #4f5962;
  & input[type="text"],
  input[type="number"] {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 7px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding-left: 40px;
    padding-top: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 21.4286px;
    font-weight: 700;
  }
  & input[type="text"]:focus,
  input[type="number"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 3px 0 dodgerBlue;
  }
  & input[type="text"]:focus + i,
  input[type="number"]:focus + i {
    color: dodgerBlue;
  }
  & input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & i {
    position: absolute;
    left: 0;
    top: 15px;
    padding: 9px 8px;
    transition: 0.3s;
    font-size: 18px;
  }
}
