.full-input {
  display: inline-block;
  position: relative;
  width: 183px;
  height: 56px;
  color: #4f5962; }
  .full-input input[type="text"],
  .full-input input[type="number"] {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 7px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding-left: 40px;
    padding-top: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 21.4286px;
    font-weight: 700; }
  .full-input input[type="text"]:focus,
  .full-input input[type="number"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 3px 0 dodgerBlue; }
  .full-input input[type="text"]:focus + i,
  .full-input input[type="number"]:focus + i {
    color: dodgerBlue; }
  .full-input input[type="number"]::-webkit-inner-spin-button,
  .full-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .full-input i {
    position: absolute;
    left: 0;
    top: 15px;
    padding: 9px 8px;
    transition: 0.3s;
    font-size: 18px; }

.btn-red {
  display: inline-block;
  background-color: #f15e75;
  padding: 0 30px;
  vertical-align: middle;
  height: 48px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s; }
  .btn-red:hover {
    background-color: #f58d9d; }

.btn-icon {
  display: inline-block;
  margin: 5px;
  color: #00c1cf;
  border: 1px solid #00c1cf;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer; }
  .btn-icon:hover {
    background-color: #00c1cf;
    color: white; }

.image-hover-effect {
  overflow: hidden;
  position: relative;
  margin: 20px 0;
  cursor: pointer;
  z-index: 99;
  height: 360px;
  border: 1px solid transparent;
  border-radius: 7px; }
  .image-hover-effect::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black);
    top: 0;
    z-index: 1; }
  .image-hover-effect:hover img {
    transform: scale(1.1); }
  .image-hover-effect img {
    width: 100%;
    max-height: auto;
    transition: transform 0.3s ease-out; }
  .image-hover-effect .title {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    bottom: 15px;
    left: 40%; }

.stars ul li {
  display: inline-block;
  margin: 2px;
  color: #949ca5; }
  .stars ul li .yellow {
    color: #f8b42b; }

.home_nav {
  color: #4f5962;
  height: 70px; }
  .home_nav ul {
    height: 70px; }
    .home_nav ul li {
      padding: 0 15px;
      display: inline-block;
      line-height: 80px;
      font-size: 14px;
      font-weight: 700;
      margin-left: 20px;
      transition: all 0.3s ease-in-out; }
      .home_nav ul li:hover {
        color: #f15e75;
        transform: translateY(-2px); }

footer .copyright {
  margin: 30px 0;
  font-size: 14px;
  font-weight: 400;
  color: black; }

footer .icons {
  text-align: right;
  font-size: 14px;
  margin: 15px 0; }
  footer .icons .icon {
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
    color: black;
    height: 45px;
    width: 45px;
    display: inline-block;
    margin-right: 10px;
    transition-duration: 0.2s; }
    footer .icons .icon:hover {
      color: white;
      background-color: #f15e75; }
    footer .icons .icon i {
      vertical-align: -10px; }

.banner {
  position: relative; }
  .banner .bg-image {
    background-image: url("https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: transform 100ms ease 0s;
    width: 100%;
    height: 80vh; }
    .banner .bg-image::before {
      background-color: black;
      box-sizing: border-box;
      content: " ";
      display: block;
      height: 80vh;
      opacity: 0.35;
      width: 100%; }
  .banner .banner-caption {
    color: #ffffff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .banner .banner-caption .banner-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 42px; }
    .banner .banner-caption .banner-subtitle {
      font-size: 18px;
      line-height: 30px; }

.trending {
  text-align: center; }
  .trending .title {
    display: inline-block;
    margin-top: 20px; }
    .trending .title h2 {
      font-size: 24px;
      font-weight: bold; }
  .trending .image-hover-effect {
    margin-bottom: 5%; }

.places {
  background-color: #f7f8f9;
  text-align: center; }
  .places .title {
    display: inline-block;
    margin-top: 20px; }
    .places .title h2 {
      font-size: 24px;
      font-weight: bold; }

.searchbar {
  border: 1px solid #d8dce1; }
  .searchbar .wrapper {
    margin: auto; }

.listings {
  background-color: #f7f8f9; }
  .listings .title {
    margin: 15px 0; }
    .listings .title h1 {
      font-size: 24px;
      font-weight: bold; }
    .listings .title::after {
      content: " ";
      display: block;
      margin-top: 25px;
      border-bottom: 1px solid #777777;
      opacity: 0.1; }
  .listings .properties .property {
    border: 1px solid transparent;
    margin-bottom: 15px; }
    .listings .properties .property .thumbnail {
      margin: 0;
      height: 250px; }
      .listings .properties .property .thumbnail img {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%; }
    .listings .properties .property .info {
      padding: 10px 0;
      text-align: center;
      background-color: white; }
      .listings .properties .property .info .name h2 {
        font-size: 16px;
        font-weight: bold; }
      .listings .properties .property .info .address {
        font-size: 14px;
        color: #949ca5; }
      .listings .properties .property .info .amenities ul li {
        display: inline;
        margin-right: 5px; }
  .listings .loadmore {
    text-align: center;
    margin: 20px 0; }
    .listings .loadmore button {
      width: 183px; }

.propertyinfo {
  background-color: #f7f8f9;
  padding-bottom: 20px; }
  .propertyinfo .header-image {
    height: 50vh;
    margin-bottom: 20px; }
    .propertyinfo .header-image img {
      min-width: 100%;
      max-height: 100%;
      object-fit: cover; }
  .propertyinfo .content {
    background-color: white; }
    .propertyinfo .content .top-title {
      padding: 40px; }
      .propertyinfo .content .top-title .name {
        font-size: 24px;
        font-weight: bold; }
      .propertyinfo .content .top-title .host-avatar img {
        border-radius: 100%; }
      .propertyinfo .content .top-title address {
        color: #3b4249;
        display: inline-block; }
        .propertyinfo .content .top-title address i {
          margin-right: 10px; }
      .propertyinfo .content .top-title .stars {
        display: inline-block;
        margin-left: 10px; }
    .propertyinfo .content .about .block {
      overflow: hidden;
      text-align: center;
      border-top: 1px solid #d8dce1;
      border-bottom: 1px solid #d8dce1;
      border-right: 1px solid #d8dce1;
      width: 25%;
      height: 188px;
      display: inline-block; }
      .propertyinfo .content .about .block:last-child {
        border-right: none; }
      .propertyinfo .content .about .block i {
        color: #d8dce1;
        font-size: 34px;
        margin: 25px 0; }
    .propertyinfo .content .description {
      padding: 40px; }
      .propertyinfo .content .description h1 {
        font-size: 24px;
        font-weight: bold; }
    .propertyinfo .content .imageviewer {
      text-align: center; }
      .propertyinfo .content .imageviewer img {
        object-fit: cover;
        cursor: pointer;
        width: 186px;
        height: 186px;
        margin: 7px; }
        .propertyinfo .content .imageviewer img:hover {
          opacity: 0.7; }
    .propertyinfo .content .availability {
      border-top: 1px solid #d8dce1;
      padding: 40px; }
      .propertyinfo .content .availability .title {
        display: inline-block; }
        .propertyinfo .content .availability .title h3 {
          font-size: 16px;
          font-weight: bold; }
      .propertyinfo .content .availability ul {
        display: inline; }
        .propertyinfo .content .availability ul li {
          display: inline;
          margin: 0 20px; }
          .propertyinfo .content .availability ul li i {
            margin-right: 15px; }
  .propertyinfo .book {
    padding-bottom: 24px;
    background-color: white;
    font-size: 24px; }
    .propertyinfo .book .price {
      padding: 20px 30px 15px;
      background-color: #4f5962;
      color: #fff;
      font-weight: bold; }
    .propertyinfo .book .date {
      text-align: center; }
      .propertyinfo .book .date .full-input {
        width: 150px;
        margin-left: 15px; }
    .propertyinfo .book .guests {
      text-align: center; }
      .propertyinfo .book .guests .full-input {
        width: 80%;
        margin-bottom: 10px; }
    .propertyinfo .book button {
      display: block;
      margin: auto; }

.sidenav {
  position: absolute;
  height: 100%;
  background-color: white;
  padding: 0 25px; }
  .sidenav ul li {
    z-index: 1;
    cursor: pointer;
    padding: 30px;
    color: #212529;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease-in-out; }
    .sidenav ul li:hover {
      color: #f15e75;
      transform: translateY(-2px); }

.profile {
  position: relative; }
  .profile .wrapper {
    background-color: #f7f8f9;
    height: 85vh;
    overflow: auto; }

.mylistings {
  background-color: #f7f8f9; }
  .mylistings .title {
    margin: 15px 0; }
    .mylistings .title h1 {
      font-size: 24px;
      font-weight: bold; }
    .mylistings .title::after {
      content: " ";
      display: block;
      margin-top: 25px;
      border-bottom: 1px solid #777777;
      opacity: 0.1; }
  .mylistings .content {
    text-align: center;
    background-color: white; }
    .mylistings .content .header {
      border-bottom: 2px solid #f7f8f9;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 600; }
    .mylistings .content .property {
      border-bottom: 2px solid #f7f8f9; }
      .mylistings .content .property .outer {
        position: relative;
        width: 100%;
        height: 120px;
        text-align: center;
        overflow: auto; }
      .mylistings .content .property .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mylistings .content .property .name {
        text-align: left;
        color: #f15e75;
        font-weight: bold; }
      .mylistings .content .property .address {
        text-align: left; }
      .mylistings .content .property .price {
        display: table-cell;
        vertical-align: middle;
        font-weight: bold; }
  .mylistings .loadmore {
    margin: 10px 0;
    text-align: center; }

.addlisting {
  background-color: #f7f8f9; }
  .addlisting .title {
    margin: 15px 0; }
    .addlisting .title h1 {
      font-size: 24px;
      font-weight: bold; }
    .addlisting .title::after {
      content: " ";
      display: block;
      margin-top: 25px;
      border-bottom: 1px solid #777777;
      opacity: 0.1; }
  .addlisting .content {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: white; }
    .addlisting .content .imageviewer {
      text-align: center; }
      .addlisting .content .imageviewer img {
        object-fit: cover;
        cursor: pointer;
        width: 186px;
        height: 186px;
        margin: 7px; }
        .addlisting .content .imageviewer img:hover {
          opacity: 0.7; }
    .addlisting .content .full-input {
      width: 200px;
      margin: auto; }
    .addlisting .content button {
      margin-top: 10px; }

.reservations {
  background-color: #f7f8f9; }
  .reservations h5 {
    margin: 10px;
    font-weight: bold; }
  .reservations .title {
    margin: 15px 0; }
    .reservations .title h1 {
      font-size: 24px;
      font-weight: bold; }
    .reservations .title::after {
      content: " ";
      display: block;
      margin-top: 25px;
      border-bottom: 1px solid #777777;
      opacity: 0.1; }
  .reservations .content {
    text-align: center;
    background-color: white; }
    .reservations .content .header {
      border-bottom: 2px solid #f7f8f9;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 600; }
    .reservations .content .reservation .inner {
      overflow: auto; }

html {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif; }

ul {
  list-style-type: none; }
